In [1]:
! pip install requests
! pip install beautifulsoup4

Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (2.32.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2024.6.2)
Requirement already satisfied: beautifulsoup4 in c:\users\admin\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
url = 'https://books.toscrape.com/catalogue/page-1.html'

In [6]:
titles = []
prices = []
availability = []

In [8]:
for page in range(1, 6):  
    response = requests.get(f'https://books.toscrape.com/catalogue/page-{page}.html')
    soup = BeautifulSoup(response.text, 'html.parser')
    books = soup.find_all('article', class_='product_pod')

In [9]:
for book in books:
        title = book.h3.a['title']
        price = book.find('p', class_='price_color').text[2:] 
        stock = book.find('p', class_='instock availability').text.strip()
        
        titles.append(title)
        prices.append(price)
        availability.append(stock)

In [10]:
df = pd.DataFrame({
    'Title': titles,
    'Price (£)': prices,
    'Availability': availability
})

In [11]:
df.to_csv('books_dataset.csv', index=False)
print("✅ Dataset created: books_dataset.csv")

✅ Dataset created: books_dataset.csv

In [3]:
df

                                                Title Price (£) Availability
0                                A Light in the Attic     51.77     In stock
1                                  Tipping the Velvet     53.74     In stock
2                                          Soumission     50.10     In stock
3                                       Sharp Objects     47.82     In stock
4               Sapiens: A Brief History of Humankind     54.23     In stock
..                                                ...       ...          ...
95  Lumberjanes Vol. 3: A Terrible Plan (Lumberjan...     19.92     In stock
96  Layered: Baking, Building, and Styling Spectac...     40.11     In stock
97  Judo: Seven Steps to Black Belt (an Introducto...     53.90     In stock
98                                               Join     35.67     In stock
99          In the Country We Love: My Family Divided     22.00     In stock

[100 rows x 3 columns]